@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model HelloWorld.Models.Employees

@{
    Layout = "_Layout";
}

<br />
@if (ViewData["message"] != null)
{
    <p class="message">@ViewData["message"]</p>
}
<h4>Create a new employee</h4>
<a href="@Url.Action("index")" class="action">Back to index</a>
<br />

@await Html.PartialAsync("_Form")